/* tumblbug.css*/


 #wrap{width:960px; height:1500px; background-color:#ada; margin:0 auto;}

    #headBox{width:100%; height:120px; background-color:#eee; 
             padding:10px; box-sizing:border-box;}
      h1{width:150px; height:50px; float:left; margin-left:400px;}
      .login{width:120px; height:30px; background-color:#dad; float:right;}

      #kategorie{width:100%; height:25px; background-color:#111; 
                 margin:10px auto; float:left;}
      #kategorie>ul{width:100%; height:100%;}
      #kategorie>ul>li{width:200px; height:25px; 
                       background-color:#fa6463; float:left;
                       border-right:135px solid transparent;
                       border-left:135px solid transparent;}

    #contentBox{width:100%; height:70px; background-color:#ccc; float:right;
                 margin:0 auto;}

    #adBox{width:400px; height:500px; background-color:#ddd; float:left;}
    #adBox>#imgBanner{width:100%; height:350px; background-color:#fdd; float:left;}
    #adBox>#textBanner{width:100%; height:150px; background-color:#999; float:left;}

    #imgBox{width:560px; height:1080px; background-color:#aaa; float:right;}

        
    #footBox{width:100%; height:300px; background-color:#fa6463; float:left;}
